[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# RCS1141: Add parameter to documentation comment.
dotnet_diagnostic.RCS1141.severity = none

# RCS1142: Add type parameter to documentation comment.
dotnet_diagnostic.RCS1142.severity = none
